{% extends "admin/change_form.html" %}
{% load static %}

{% block object-tools %}
{{ block.super }}

<script>
    (function ($) {
        'use strict';

        $(function() {
            $(".add-row a").on("click", function(event) {
                var $form = $("#slickslider_form"),
                    $elCaptions = $form.find("textarea"),
                    lastCKEditor = $elCaptions[$elCaptions.length-2];

                CMS.CKEditor.init(lastCKEditor.id, {}, {});
            });
        });
    })(django.jQuery);
</script>
{% endblock %}