{% extends "admin/change_form.html" %}
{% load static %}
{% load djangocms_slick_slider_utils %}

{% block object-tools %}
{{ block.super }}
<script>
    (function ($) {
        'use strict';

        $(function() {
            $(".add-row a").on("click", function(event) {
                var $form = $("#slickslider_form"),
                    $elCaptions = $form.find("textarea"),
                    lastCaptionArea = $elCaptions[$elCaptions.length-2];
                CMS.CKEditor.init(lastCaptionArea.id, {}, {{ ckeditor_conf|jsonify }});
            });
        });
    })(django.jQuery);
</script>
{% endblock %}